<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>HOME PAGE <%= 4 + 5 + 1%> </h1>

    <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates sit asperiores tenetur, quidem quasi architecto suscipit ad nam ullam voluptatem eaque in ipsa ex, voluptas nihil quis quia harum quibusdam?
    Unde dolorum veritatis, adipisci repudiandae expedita autem sequi porro quos rerum vel laborum impedit tempora distinctio illum facere fuga iste ipsam sit ratione cumque architecto obcaecati. Sint ea incidunt voluptates.
    Cupiditate non sed impedit quas, deleniti enim nam ipsum qui quibusdam consectetur illum voluptatem! Delectus voluptate officiis eaque repellendus quod eius vitae! Quo reiciendis adipisci sint ratione. Totam, esse? Eligendi.
    </P>

    <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates sit asperiores tenetur, quidem quasi architecto suscipit ad nam ullam voluptatem eaque in ipsa ex, voluptas nihil quis quia harum quibusdam?
        Unde dolorum veritatis, adipisci repudiandae expedita autem sequi porro quos rerum vel laborum impedit tempora distinctio illum facere fuga iste ipsam sit ratione cumque architecto obcaecati. Sint ea incidunt voluptates.
        Cupiditate non sed impedit quas, deleniti enim nam ipsum qui quibusdam consectetur illum voluptatem! Delectus voluptate officiis eaque repellendus quod eius vitae! Quo reiciendis adipisci sint ratione. Totam, esse? Eligendi.
    </P>
</body>
</html>